<mat-card-content>
    <div class="row">
        <!-- search -->
        <div class="form-group col-12 23r">
            <mat-form-field class="">
                <button mat-button matSuffix mat-icon-button (click)="onClick()">
                    <mat-icon matSuffix>search</mat-icon>
                </button>

                <input autocomplete="off" matInput placeholder="Search" [formControl]="itemSearch">
            </mat-form-field>
        </div>

    </div>
    <!-- item table -->
    <mat-dialog-content class="mat-typography">
        <div *ngIf="(items.length > 0)" class="col-12">
            <div class="card-body table-responsive p-0 mr-5">
                <table class="table table-bordered table-hover table-striped table-sm">
                    <!-- style="white-space: nowrap" -->
                    <thead class="table-primary  text-dark text-center">
                        <tr>
                            <th width="10%">Options</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let item of items">
                        <td class="text-center">
                            <button mat-icon-button color="success" aria-label="Example icon-button with a heart icon"
                                (click)="selectItem(item)">
                                <mat-icon>check_circle_outline</mat-icon>
                            </button>
                        </td>
                        <td class="pl-2 text-left">{{item}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="warn" (click)="cancel()">
            <mat-icon>cancel</mat-icon>Close
        </button>
    </mat-dialog-actions>
</mat-card-content>